<div class="section-full latest-blog p-t80 p-b80">
    <div class="container">
        <!-- TITLE -->
        <div class="section-head text-center">
            <span class="wt-title-subline font-26 text-gray-dark m-b15">Claim</span>
            <!--<h2 class="text-uppercase">Token Distribution</h2>-->
            <div class="wt-separator-outer">
                <div class="wt-separator bg-primary"></div>
            </div>

        </div>
        <!-- TITLE -->

        <app-data></app-data>

    </div>
</div>