<div class="section-content">
    <div class="row equal-wraper">
        <!-- COLUMNS 1 -->
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="1.5s"
            style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
            <div class="table-responsive">
                <table class="table table-bordered" id="buHistory">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Plan</th>
                            <th>Amount</th>
                            <th>Withdrawn Amount</th>
                            <th>Next Withdraw Date</th>
                            <th>Withdraw</th>

                        </tr>
                    </thead>
                    <tbody id="set_kbody">
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>